/*? CLASSES */
.navbar{
  height:50px;
  position:fixed;
  top:0;
  width:100vw;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.projectcontainer{
  background-color: burlywood;
  height:100%;
  width:90%;
  margin: 10%;
  flex-direction: column;
}
.mainpage{
  background-color: black;
  margin-top:50px;
}
.workpage{
  background-color: darkgreen;
  background-color: black;
}
.skillspage{
  background-color: blueviolet;
  background-color: black;
}
.page{
  display:flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  scroll-snap-align: center;
}
.fa {
  padding: 10px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-github {
  background: whitesmoke;
  color: black;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa:hover {
    opacity: 0.7;
}
.links{
  text-align: center;
  height: 100%;
  transform: translateY(25%);
}
.links a{
  color: whitesmoke;
  text-decoration: none;
}
.aboutpage{
  background-color: turquoise;
  background-color: black;
}
.contactpage{
  background-color: yellow;
  background-color: black;
}
.mainpage,.workpage,.skillspage,.aboutpage,.contactpage{
  flex-direction: column;
  font-size: 3rem;
  color: whitesmoke;
}
.red{
  color: rgb(242, 0, 0);
  font-weight: bold;
  font-size:1.1em;
}
/*? TAGS */
body{
  min-height:100vh;
  margin:0;
  padding: 0;
  background-color: black;
  overflow: scroll;
}
html{
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.navbar div{
  display:inline-block;
  margin: 0 10px;
}
